html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-display: swap;
  overflow-wrap: break-word;

  color: #1B1A17;
}

.container {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover{
  cursor: pointer;
}

a:focus, a:link, a:active {
  outline: none;
}

/* header */
header {
  padding-top: 26px;
  padding-bottom: 35px;
  background-color: #fdfdfb;
}

.header-top {
  padding-top: 27px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
} 

.logo-link {
  margin-left: 15px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  max-width: 706px;
  flex-wrap: wrap;
}

.nav-item + .nav-item {
  margin-left: 30px;
}

.nav-link {
  display: block;
  position: relative;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  
  text-transform: uppercase;
}

.nav-link__header {
    color: #001E64;
}

.nav-link__header:hover {
  color: #001E64;
  transition: 0.2s ease-in-out;
}

.nav-list .nav-link__header::after,
.nav-list .nav-link__header::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #001E64;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-list .nav-link__header::before,
.nav-list .nav-link__header::before {
  position: absolute;
  content: "";
  bottom: 21px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #001E64;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav-list .nav-link__header:hover::after,
.nav-list .nav-link__header:focus::after {
  width: 100%;
}

.nav-list .nav-link__header:hover::before,
.nav-list .nav-link__header:focus::before {
  width: 100%;
}

.phone-link {
  margin-top: 11px;
}

/* .user-list {
  display: flex;
  flex-basis: 100px; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
} */

.header-content {
  margin-top: -110px;
  padding-bottom: 80px;

  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  max-width: 694px;
  padding-top: 200px;
  padding-left: 112px;

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 95px;

  color: #001E64;
}

.header-slider {
  max-width: 522px;
  padding-left: 112px;
  padding-top: 57px;
  padding-bottom: 135px ;
}

.header-slider__text {
  max-width: 407px;
  min-width: 320px;
  margin-bottom: 30px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;

  color: #FFFFFF;
}

.slick-prev, 
.slick-next {
  position: absolute;
  left: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slick-prev {
  top: 0;
}
 
.slick-next {
  bottom: 0;
}

.slick-dots {
  position: absolute;
  left: 35px;
  top: 58px;
  bottom: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  list-style: none;
}

.slick-dots button {
  border: none;
  background-color: transparent;
  padding: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;
  opacity: 0.5;
}

.slick-active button {
  opacity: 1;
}

.slick-dots button::before {
  content: '0';
}

.slick-dots li:nth-child(n+10) button::before {
  content: '';
}

.header__btn {
  display: inline-block;

  position: absolute;

  width: 298px;
  height: 48px;
  margin-left: 112px;
  transform: translateY(-100px);

  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;
  background-color: #ffffff80;
  border: 1px solid transparent;
  border-radius: 20px;
}

.header__btn:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: 0.3 ease-in-out;
}

.header__box {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;

  color: #ffffff;
}

.header-content__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
}

/* .header-content__link:hover,
.header-content__link:active,
.header-content__link:focus {
  font-weight: 700;
} */

.header-content__link--active {
  font-weight: 700;
}


/* main */
/* section promo */





/* footer */
footer {
  padding: 67px 0;
  background-color: #444240;
  color: #ffffff;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts, .contacts-list, .footer-nav-list {
  min-width: 170px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.contacts, .footer-nav-list {
  margin-bottom: 10px;
}
 
.logo-link__footer {
  position: relative;
  margin-bottom: 23PX;
  padding-left: 29px;


  font-family: "Playfair Display";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.14em;
  
  color: #FFFFFF;
}

.logo-link__footer::before {
  position: absolute;

  content: '';
  background-image: url('../img/svg/logo-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 26px;
  height: 25px;
  left: 0px;
  top: -6px;
}

.contacts-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: start;
}

.contacts-list>li>a {
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.75);
}

.footer-nav-list h3 {
  margin: 0 0 33px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.nav-list-description>li>a {
  padding-bottom: 15px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: start;

  color: rgba(255, 255, 255, 0.75)
}

.nav-list-description li:last-child {
  padding: 0;
}
